certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
idna==2.8
imcsdk==0.9.7
intersight-rest==1.1.7
IPy==1.0
pexpect==4.6.0
ptyprocess==0.6.0
pycryptodome==3.8.2
pycryptodomex==3.9.0
pyparsing==2.3.0
python-dateutil==2.8.0
pyvmomi==6.7.1
requests==2.21.0
selenium==3.141.0
six==1.12.0
ucsmsdk==0.9.6
urllib3==1.24.2
